<% if @flights%>

<% form_for @flights do |f| %>
<div class="form-group">
  <label for=""><strong>flight: </strong><%= f %></label>
</div>

<% else %>

<div class="field">
  <%= f.label :flight_no %><br>
  <%= f.text_field :flight_no %>
</div>

<% end %>

<% else %>
No aeroplanes in database, enter an flights
<% end %>